USE [ProyectoII_Yordi]
GO
/****** Object:  Table [dbo].[Semilla]    Script Date: 17/8/2025 15:45:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semilla](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[EspecieId] [int] NOT NULL,
	[UbicacionId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[FechaAlmacenamiento] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Semilla] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Semilla_EspecieId]    Script Date: 17/8/2025 15:45:05 ******/
CREATE NONCLUSTERED INDEX [IX_Semilla_EspecieId] ON [dbo].[Semilla]
(
	[EspecieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Semilla_UbicacionId]    Script Date: 17/8/2025 15:45:05 ******/
CREATE NONCLUSTERED INDEX [IX_Semilla_UbicacionId] ON [dbo].[Semilla]
(
	[UbicacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Semilla]  WITH CHECK ADD  CONSTRAINT [FK_Semilla_Especie_EspecieId] FOREIGN KEY([EspecieId])
REFERENCES [dbo].[Especie] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Semilla] CHECK CONSTRAINT [FK_Semilla_Especie_EspecieId]
GO
ALTER TABLE [dbo].[Semilla]  WITH CHECK ADD  CONSTRAINT [FK_Semilla_Ubicacion_UbicacionId] FOREIGN KEY([UbicacionId])
REFERENCES [dbo].[Ubicacion] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Semilla] CHECK CONSTRAINT [FK_Semilla_Ubicacion_UbicacionId]
GO
